@import url('https://fonts.googleapis.com/css?family=Montserrat:600,700|Open+Sans:300,400,600&display=swap');

.headline1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700; // 34px
    font-size: 2.125rem;
    color: inherit;
    letter-spacing: 0.25px;
    text-align: left;
}
.body1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1em; // 16px
    color: inherit;
    letter-spacing: 0.44px;
    text-align: left;
    line-height: 28px;
}
